arabic-reshaper
argon2-cffi
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
bcrypt
black
blinker
certifi
cffi
charset-normalizer
click
colorama
constantly
crispy-bootstrap5
cryptography
cssselect2
Deprecated
distlib
dj-database-url
Django
django-ckeditor
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.7.0
django-extensions==3.2.3
django-filter==23.5
django-jet-reboot==1.3.5
django-js-asset==1.2.2
django-model-utils==4.3.1
django-modeltranslation==0.18.11
django-redis==5.2.0
django-taggit==1.2.0
django-user-visit==0.4
django-widget-tweaks==1.4.8
djangorestframework==3.14.0
emailvalidator==0.3
et_xmlfile==2.0.0
factory_boy==3.3.1
Faker==32.1.0
filelock==3.6.0
Flask==3.1.0
flask-cors==6.0.1
gunicorn==20.0.4
html5lib==1.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==5.0.0
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
kiteconnect==5.0.1
lxml==5.3.0
MarkupSafe==3.0.2
mypy-extensions==1.0.0
mysql-connector-python==8.0.31
mysqlclient==2.1.1
numpy==2.2.0
openpyxl==3.1.5
oscrypto==1.3.0
packaging==21.3
pandas==2.2.3
pathspec==0.12.1
pillow
pipenv
platformdirs
protobuf
psycopg2
pyasn1
pyasn1_modules
pycparser
pydantic
pyHanko
pyhanko-certvalidator
PyMySQL
pyOpenSSL
pyparsing
pypdf
python-bidi
python-dateutil==2.9.0.post0
python-decouple
python-dotenv
pytz
#pywin32
PyYAML
qrcode
redis
reportlab
requests
service-identity
six
sqlparse
stripe
svglib
tabulate
tinycss2
tk
tomli
Twisted
txaio
typing_extensions
tzdata
tzlocal
ua-parser
uritools
urllib3
user-agents
validate_email
virtualenv
virtualenv-clone
waitress
webencodings
Werkzeug
whitenoise
wrapt
xhtml2pdf
zipp
zope.interface
